<% content_for(:title) do %>
<%= @cocktail.name %> is on Mister Cocktail
<% end %>

<div style="margin-top: 16px">
  <%= render "shared/searchform" %>
</div>

<div class="container">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container">
  <div class="row">
    <% @cocktail.doses.each do |d| %>
    <div class="col-xs-12 col-sm-3 hvr-grow">
      <%= render "cocktails/cardose", dose: d %>
    </div>
    <% end %>
  </div>
</div>


<div >
  <%= simple_form_for [@cocktail, @dose] do |d| %>
    <div class="search-form-control form-group">
      <%= d.association :ingredient %>
    </div>
    <div class="search-form-control form-group">
      <%= d.input :description %>
    </div>
      <%= d.button :submit, class: "btn btn-gradient" %>
  <% end %>
</div>


<%= render "shared/addnewcock" %>
<%= render "shared/allcocktails" %>

